
:root {
    --background-main: rgb(255, 255, 255);
    --header-color: rgb(147, 214, 247);
    --h1-color: rgb(38, 39, 37);
    --H2: grey;
}

* {
    box-sizing: border-box;
    margin: 0px;
}

.site-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--h1-color);
    text-align: left;
    
}

.navbar ul {
    list-style-type: none;
    background-color: grey;
    border-radius: 5px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    justify-content: space-evenly;
}

.navbar a {
    color: whitesmoke;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar li {
    float: right;
}

.navbar a:hover {
background-color: rgba(0, 0, 0, 0.402);
}

body{
    background-color: var(--background-main);
}

main {
    margin: 20px;
}

.about-me {
    margin: 10% 0% 10% ;
}

.about-me p {
    margin: 2% 0% 2% 10%;
    padding: 3% 0% 1% 0%;
}


