
:root {
    --background-main: rgb(255, 255, 255);
    --header-color: rgb(147, 214, 247);
    --h1-color: rgb(38, 39, 37);
    --H2: grey;
}

.site-title {
    text-align: center;
}

header h1{
    display: flex;
    justify-content: center;
}

header nav ul{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    background-color: var(--H2);
}

.navbar ul{
}

.navbar li{
    /* display: inline; */
    list-style-type: none;
    float: left;
}

.navbar li a{
    display: block;
    padding: 20px 16px;
    text-decoration: none;
    color: var(--h1-color);
}

.navbar li a:hover{
    color: rgb(255, 239, 239);
}

.my-work{
    display: block;
    background-color: var(--H2);
    padding: 40px;   
}

section img{
    float: center;
    width: 500px;
    height: 500px;
    overflow: hidden;
    /* margin: 0px;
    padding: 0px; */
}

.all-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
}

.all-cards h3{
    display: inline;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 50px;
    display: inline-block;
    background-color: rgb(198, 208, 205);
    box-shadow: 10px 10px rgb(53, 51, 51);
}


/* .card-container{
    display: flex;
    justify-content: center;
} */

.card-content{
    display: inline-block;
}